<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando pontos turísticos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <section id="cadcoin">
            <h2>Cadastrar Moedas</h2>
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="txtnomecoin" class="form-label">Nome da moeda </label>
                        <input type="text" name="txtnomecoin" id="txtnomecoin" class="form-control" tabindex="1">
                    </div>
                    <div class="col">
                        <label for="txtvalorcoin" class="form-label">Valor da moeda</label>
                        <input type="text" name="txtvalorcoin" id="txtvalorcoin" class="form-control" tabindex="2">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="filecoin" class="form-label">Imagem da Moeda</label>
                        <input type="file" name="filecoin" id="filecoin" class="form-control" tabindex="2">
                     </div>
                    <div class="col">
                       <div class="row"> <input type="submit" value="Cadastrar" name="btcadcoin" id="btcadperson" class="btn btn-warning mt-4" tabindex="6"></div>
                    </div>
                </div>
                
            </form>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>